<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/loginStyles.css">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>
            <label for="forename">Forename:</label>
            <input type="text" id="forename" name="forename"><br><br>
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname"><br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br><br>
            <label for="number">Phone Number:</label>
            <input type="text" id="number" name="number"><br><br>
            <label for="age">Age:</label>
            <input type="text" id="age" name="age"><br><br>
            <label for="postcode">Postcode:</label>
            <input type="text" id="postcode" name="postcode"><br><br>
            <button type="submit" name ="submitButton" value="Submit">Submit</button>
            <button type="submit" name="login" value="login">Login</button>
        </form>
    </div>
</body>
</html>